.header__title {
    text-align: center;
}

.header__search {
    max-height: 50px;
}

svg {
    fill: #2F4F4F;
    stroke: #2F4F4F;
    transition: linear .3s;
    scale: 75%;
}

svg:hover {
    cursor: pointer;
    fill: darkturquoise;
    stroke: darkturquoise;
    transition: linear .3s;
}

svg.close, svg.clock {
    fill:none;
}

svg.close:hover, svg.clock:hover {
    stroke: darkturquoise;
    transition: linear .3s;
}

svg.house:hover {
    cursor: pointer;
    fill: darkturquoise;
    transition: linear .3s;
}

svg.menu #up, svg.menu #middle, svg.menu #low{
    transition: transform .3s, fill .3s;
}

svg.opened #up, svg.opened #up {
    transform: translate(15px, 1px) rotate(45deg);
}

svg.opened #middle, svg.opened #middle {
    display: none;
}

svg.opened #low, svg.opened #low{
    transform: translate(-62px, 15px) rotate(-45deg);
}
svg.opened * {
    transition: transform .3s, fill .3s;
}

@keyframes hours_animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes minutes_animation {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(450deg);
    }
}

svg.clock #hours{
    animation: hours_animation 30s linear infinite;
}
svg.clock #minutes {
    animation: minutes_animation 60s linear infinite;
}

.on {
    fill:yellow;
}
